<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
</head>
<body>
    <h1>Welcome to the Main Page</h1>

    <h2>Users</h2>
    <ul>
        {% for user in users %}
            <li>{{ user.name }} - {{ user.email }}</li>
        {% endfor %}
    </ul>

    <h2>Chats</h2>
    <ul>
        {% for chat in chats %}
            <li>Question: {{ chat.question }}</li>
            <li>Response: {{ chat.response }}</li>
            <li>Source: {{ chat.source }}</li>
            <hr>
        {% endfor %}
    </ul>
    <div>
        채팅으로 이동? <a href="{% url 'chat' %}" >채팅</a>
    </div>
</body>
</html>