html, body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
  overflow: hidden; /* 페이지 크기를 초과하는 내용이 스크롤 없이 숨겨집니다. */
  background-color: #141414;
}